@import "./base.css";
body {
  font-family: var(--mainFont);
  background-color: #eee;
}
/*start header css*/
.header {
  display: flex;
  background-color: #fff;
  padding: 15px 0px;
  box-shadow: 0px 1.6474391222000122px 8.23719596862793px rgba(0, 0, 0, 0.1);

}

.Logo_Store_Name {
  display: flex;
  align-items: center;
}
.navbar {
  padding: 0px 3px;
}
.logo .Logo_Store_Name {
  display: flex;
  flex-wrap: wrap;
  color: var(--mainColor);
  gap: 5px;
  font-size: 20px;
}
.logo .Logo_Store_Name img {
  width: 50px;
}
.header ul {
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.menu {
  display: none;
}
.active {
  font-weight: 600;
  color: #101928;
}
.navbar li a {
  color: #101928;
}
.header .auth {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.header .auth a {
  padding: 12px 40px;
  border: solid 1px;
  border-color: var(--mainColor);
  border-radius: 7px;
  font-family: var(--subFont);
  font-size: 15px;
  font-weight: bold;
}
.Register {
  background-color: var(--mainColor);
  color: #fff;
}
.Login {
  color: var(--mainColor);
}

/* media header */
@media screen and (max-width: 768px) {
  .auth a {
    display: none;
  }
  .container {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    display: none;
  }
  .menu {
    display: block;
    order: calc(2);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 60px);
  }
  .header .auth a {
    padding: 12px 25px;
  }
  .header ul {
    gap: 8px;
  }
}
/*end header css*/

/*Start Testimonials css*/

.Testimonials {
  padding: 20px 0px 50px 0px;
}
.Testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #0d1222;
}
.Testimonials .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
.Testimonialer img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.Testimonialer {
  box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  width: calc((100% - 60px) / 2);
  gap: 30px;
  padding: 20px;
  background-color: #fff;
}
.Testimonialer .information {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  span {
    color: #969696;
  }
}
.Testimonialer .rate {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: 676px) {
  .Testimonialer {
    width: 100%;
  
  }
  .Testimonials .row{
    gap: 20px;
  }
}
/*End Testimonials css*/

/*Start Footer css*/
footer {
  background-color: #393e46;
  color: #f4f4f4;
  a {
    color: #f4f4f4;
  }
  padding: 60px 0px;
}
footer .row {
  gap: 250px;
}
.footer-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  width: 500px;
}
.footer .logo .Logo_Store_Name {
  color: #f4f4f4;
}
.footer-start .icon {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 20px;
    border: solid 1px;
    padding: 10px;
  }
  gap: 15px;
}
.footer-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}
.footer-end .item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-end .item .nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1400px) {
  footer .row {
    gap: 100px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-start {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .footer-end .item {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 400px) {
  .footer-end .item {
    width: 100%;
    margin-bottom: 30px;
  }
}

/*end footer css*/
